<!DOCTYPE html>
<html>
  <had>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to CI/CD with Azure App Service</p>
  </body>
</html>
